body{
    font-family: 'Poiret One', cursive;
    margin: 0%;
}
section{
    height: 1000px;
}
.half-width{
    font-size: 200%;
    width: 40%;
    float: left;
    margin-top: 70px;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    margin: 0%;
    width: 100%;
}
.mrgn1{
    margin-top: 20%;
    margin-left: 20%;
    text-align: right;
    
}
.banner{
    background-image: url("images/t-banner3.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

.fa {
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.top-button{
    float: left;
    margin-left: 5px;
} 
.fa:hover {
    opacity: 0.7;
}  

.fa-linkedin {
    margin-left: 585px;
    background: orangered;
    color: white;
} 
.fa-facebook {
    
    background: orangered;
    color: white;
}  
.fa-instagram {
    
    background: orangered;
    color: white;
}   
h1{
    color: orangered;
    font-size: 500%;
}
p{
    color: rgb(255, 136, 0);
    font-size: 60%;
    text-align: justify;
}
.about{
    background-image: url("images/t-banner4.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.half-width1{
    font-size: 200%;
    width: 40%;
    float: left;
    margin-top: 8%;
    padding: 2%;
}
.half-width1 img{
    margin: 0%;
    width: 100%;
}
.about-style{
    margin-top: 15%;
    margin-left: 8%;
}
h2{
    color: orangered;
}
h5{
    color: orangered;
}
.middle-button{
    float: left;
}
.fa-github {
    margin-top: 35px;
    margin-left: 10px;
    background: orangered;
    color: white;
} 