body{
    font-family: 'Poiret One', cursive;
    margin: 0%;
}
section{
    height: 990px;
}
.half-width{
    font-size: 200%;
    width: 40%;
    float: left;
    margin-top: 70px;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    margin: 0%;
    width: 100%;
}
.mrgn1{
    margin-top: 20%;
    margin-left: 20%;
    text-align: right;
    
}
.banner{
    background-image: url("images/t-banner3.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

.fa {
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.top-button{
    float: left;
} 
.fa:hover {
    opacity: 0.7;
}  

.fa-linkedin {
    margin-left: 600px;
    background: orangered;
    color: white;
} 
.fa-facebook {
    
    background: orangered;
    color: white;
}  
.fa-instagram {
    
    background: orangered;
    color: white;
}   
h1{
    color: orangered;
    font-size: 500%;
}
p{
    color: orange;
    font-size: medium;
}
